{% extends "layout.html" %}

{%block content%}

    <div class="container mt-3">
        <div class="about p-3">
            <h1 align="center">About Us</h1>
            <div class="row">
                <div class="col-md-5">
                    <img src="../static/about.png" alt="About Us">
                </div>
                <div class="col-md-7 p-5">
                    <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Ducimus at ipsa voluptatibus,
                        perspiciatis porro dolorem totam amet dolore consequuntur, illum tenetur, consequatur 
                        magni? Illum porro laborum eius dolore molestias dolores magnam possimus.<br>
                        Amet fuga deleniti placeat.Amet fuga deleniti placeat.Amet fuga deleniti placeat.
                        Velit dolorem necessitatibus, architecto saepe provident neque iste rerum deleniti odit 
                        nostrum veritatis incidunt itaque consequuntur!<br>
                        Velit dolorem necessitatibus, architecto saepe provident neque iste rerum deleniti odit 
                        nostrum veritatis incidunt itaque consequuntur!<br>
                        Velit dolorem necessitatibus, architecto saepe provident neque iste rerum deleniti odit 
                        nostrum veritatis incidunt itaque consequuntur!<br>
                        Velit dolorem necessitatibus, architecto saepe provident neque iste rerum deleniti odit 
                        nostrum veritatis incidunt itaque consequuntur!<br>
                        Velit dolorem necessitatibus, architecto saepe provident neque iste rerum deleniti odit 
                        nostrum veritatis incidunt itaque consequuntur!<br>
                    </p>
                </div>
            </div>
        </div>
    </div>

{% endblock %}