{% extends "layout.html" %}

{%block content%}

    <div class="row">
        <div class="col-sm-6 pt-4 lfthm" >
          <img src="./static/imgHome.png" style="padding-top: 10%;padding-left: 7%;">
        </div>
        <div class="col-sm-6">
            <div class="reg_form">
                <h1 style="text-align: center; opacity: 100%;"><b>Register Today!!</b></h1>
                <form method="POST">
                    {{ form.hidden_tag() }}
                    <div class="form-group">
                      {{ form.name.label(class="form-control-label-md") }}

                      {% if form.name.errors %}
                          {{ form.name(class="form-control form-control-md is-invalid") }}
                          <div class="invalid-feedback">
                              {% for error in form.name.errors %}
                                  <span>{{ error }}</span>
                              {% endfor %}
                          </div>
                      {% else %}
                          {{ form.name(class="form-control form-control-md") }}
                      {% endif %}
                    </div>
                    <div class="form-group">
                      {{ form.email.label(class="form-control-label") }}

                      {% if form.email.errors %}
                          {{ form.email(class="form-control form-control-md is-invalid") }}
                          <div class="invalid-feedback">
                              {% for error in form.email.errors %}
                                  <span>{{ error }}</span>
                              {% endfor %}
                          </div>
                      {% else %}
                          {{ form.email(class="form-control form-control-md") }}
                      {% endif %}
                        <small id="emailHelp" class="form-text text-muted">We'll never share your Email with anyone else.</small>
                    </div>
                    <div class="form-group">
                      {{ form.phone.label(class="form-control-label") }}

                      {% if form.phone.errors %}
                          {{ form.phone(class="form-control form-control-md is-invalid") }}
                          <div class="invalid-feedback">
                              {% for error in form.phone.errors %}
                                  <span>{{ error }}</span>
                              {% endfor %}
                          </div>
                      {% else %}
                          {{ form.phone(class="form-control form-control-md") }}
                      {% endif %}
                        <small id="emailHelp" class="form-text text-muted">We'll never share your Phone Number with anyone else.</small>
                    </div>
                    <div class="form-group">
                      {{ form.password.label(class="form-control-label") }}
                      {% if form.password.errors %}
                          {{ form.password(class="form-control form-control-md is-invalid") }}
                          <div class="invalid-feedback">
                              {% for error in form.password.errors %}
                                  <span>{{ error }}</span>
                              {% endfor %}
                          </div>
                      {% else %}
                          {{ form.password(class="form-control form-control-md") }}
                      {% endif %}
                    </div>
                    <div class="form-group">
                      {{ form.confirmpassword.label(class="form-control-label") }}
                    {% if form.confirmpassword.errors %}
                        {{ form.confirmpassword(class="form-control form-control-md is-invalid") }}
                        <div class="invalid-feedback">
                            {% for error in form.confirmpassword.errors %}
                                <span>{{ error }}</span>
                            {% endfor %}
                        </div>
                    {% else %}
                        {{ form.confirmpassword(class="form-control form-control-md") }}
                    {% endif %}
                    </div>
                    <!-- <div class="form-group form-check">
                      <input type="checkbox" class="form-check-input" id="exampleCheck1">
                      <label class="form-check-label" for="exampleCheck1">Check me out</label>
                    </div> -->
                    <div class="form-check-label pb-2" for="exampleCheck1">Already member?? <a  href="{{ url_for('login') }}">Login</a></div>
                    {{ form.submit(class="btn btn-primary") }}
                  </form>
            </div>
        </div>
    </div>

{% endblock %}