{% extends "layout.html" %}

{%block content%}

    <div class="container mt-3">
        <div class="header">
            <h2>{{scholarship.name}}</h2>
        </div>
        <div class="row">
            <div class="col-md-8">
                <div class="description">
                    <p>
                        <h3>Scholarship Details:</h3><br>
                    </p>
                    <ul>
                        <li>{{scholarship.description}}</li>
                        <li>Amount: Rs. {{scholarship.amount}}</li>
                        <li>Class X Min Marks: {{scholarship.cls_x_min_per}}</li>
                        {% if scholarship.cls_xii_min_per > 0%}
                            <li>Class XII Min Marks: {{scholarship.cls_xii_min_per}}</li>
                        {% endif %}
                        {% if scholarship.cls_ug_min_per > 0%}
                            <li>Class UG Min Marks: {{scholarship.cls_ug_min_per}}</li>
                        {% endif %}
                    </ul>
                </div>
            </div>
            <div class="col-md-4">
                <div class="apply-box">
                    <h4>{{scholarship.name}}</h4>
                    <p class="muted">{{scholarship.organization.username}}</p>
                    <a style="text-decoration: none; color: white;" href="{{ url_for('apply',sch_id=scholarship.id) }}">
                        <button class="btn btn-primary" style="width: 100%;">
                            Apply
                        </button>
                    </a>
                </div>
            </div>
        </div>
    </div>

{% endblock %}