{% extends "layout.html" %}

{%block content%}

    <div class="container mt-3">
        <div class="header">
            <h2>{{title}}</h2>
        </div>
        <div class="row">
            <div class="col-md-8 description">
                <p>
                    Lorem ipsum dolor sit amet consectetur adipisicing elit. Dolorem,
                    minima necessitatibus asperiores quaerat voluptates facere. Aliquid consectetur
                    voluptatibus dicta libero quidem recusandae enim ipsam reprehenderit facere, nam, quasi placeat repellendus!
                </p>
            </div>
        </div>
    </div>

{% endblock %}