{% extends "layout.html" %}

{%block content%}

    <div class="container mt-3">
        <div class="header">
            <h2>{{title}}</h2>
        </div>
        <div class="row">
            <div class="col-md-8">
                <div class="description">
                    <p>
                        <h3>Scholarship Details:</h3><br>
                    </p>
                    <ul>
                        <li>Lorem ipsum, dolor sit amet consectetur adipisicing elit. Inventore, nulla!</li>
                        <li>Lorem ipsum, dolor sit amet consectetur adipisicing elit. Inventore, nulla!</li>
                        <li>Lorem ipsum, dolor sit amet consectetur adipisicing elit. Inventore, nulla!</li>
                        <li>Lorem ipsum, dolor sit amet consectetur adipisicing elit. Inventore, nulla!</li>
                        <li>Lorem ipsum, dolor sit amet consectetur adipisicing elit. Inventore, nulla!</li>
                    </ul>
                </div>
            </div>
            <div class="col-md-4">
                <div class="apply-box">
                    <h4>{{title}}</h4>
                    <p>Org Name</p>
                    <button class="btn btn-primary" style="width: 100%;">Apply</button>
                </div>
            </div>
        </div>
    </div>

{% endblock %}