{% extends "layout.html" %}

{% block content %}
    <div class="container pt-5">
        <div class="row">
            <div class="col-md-9">
                {% for i in scholarshipList %}
                <div class="card mt-2 mb-3">
                    <div class="card-header">
                        {{i.organization.username}}
                    </div>
                    <div class="card-body">
                      <h5 class="card-title">{{i.name}}</h5>
                      <p class="card-text">Scholarship Amount is {{i.amount}}</p>
                      <a href="{{ url_for('scheme', sch_id = i.id) }}" class="btn btn-primary">Go to Apply Page</a>
                    </div>
                  </div>
                  {% endfor %}
                </div>
            <div class="col-md-3 filters">
                <h5><i class="fa fa-search" aria-hidden="true"></i> Search</h5>
                <form class="form-group" action="{{url_for('search')}}" method="post">
                    <label for="searchField">Tag:</label>
                    <input class="form-control" type="text" id="searchField" name="searchField" placeholder="Search Tags">
                    <button type="submit" class="btn btn-primary mt-3" value="Submit"><i class="fa fa-search" aria-hidden="true"></i> Search</button>
                </form>
            </div>
            </div>
        </div>
    </div>
{% endblock %}